body {
	background: url("../images/bg.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Noto Sans', sans-serif;
}

/* first */
h1 {
	color: #17202A;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 0;
}

/* second */
h2 {
	font-family: 'Montserrat', sans-serif;
	color: gray;
	font-size: 36px;
	margin-top: 0;
}

/* third */
.bio {
	padding: 10px;
	color: gray;
	font-size: 14px;
	text-align: justify;
	border: 1px solid gray;
}

/* fourth */
.me {
	height: 150px;
	border-radius:100%;
	border-style: solid;
	border-color: gray;
	margin-top: 40px;
}

/* fifth */
.about {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
